body, html{
    padding:0;
    margin:0;
    border:0;
}

.courseImg{
    height:200px;
    width:100%;
    object-fit: cover;
}

.singCourseImg{
    height:360px;
    width:100%;
    object-fit: cover;
}


.clndr-table{
    width:100%;
}

.day{
    width:14.2%;
    text-align:center;
    border:1px solid #eee;
    box-sizing: border-box;
    padding:8px;
    position: relative;
}

.day:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.day .day-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding:30%;

}

.day{
    font-weight: 200;
}

.today{
    color: #057857;
    font-weight: 700 !important;
    background-color: #fafafa;
}

.clndr-controls{
    display: flex;
    padding:5px;
    margin-top: 10px;
}

.clndr-controls div{
    flex-grow: 1;
    cursor: pointer;
}

.month{
    font-weight: 700;
    color: #057857;
}

.header-day{
    text-align: center;
}